<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
</head>
<body>
<h1> Hello your Highness </h1>

<h3> Would you like to add a New Student? </h3>
<form action="/add" method="POST">
	<input type="text" name="name" placeholder="Student's Name">
	<input type="text" name="password" placeholder="His Password">
	<button>Submit</button>
</form>
<br/>
<h3>Or would you like to choose one to torture?</h3>
<ul>
	<% list.forEach(function(user){ %>
	<% if (!user.admin) { %>
	<li> <%= user.name %> </li>
<% } %>
<% }) %>
</ul>
</body>
</html>