<!DOCTYPE html>
<html>
<head>
	<title>Student</title>
</head>
<body>
	<h1>Your Advice For Today:</h1>

	<h3> <%= advice %> </h3>

<br/>
<form action="/logout" method="get">
	<button>Log Out</button>
</form>
</body>
</html>